/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

/* === Type === */

body {
        font-family: "ubuntu",sans-serif;
        background-color:#000;
        color:#666;
        background: #000 url(../img/bg-sparks.jpg) top center fixed no-repeat;
}

.wrap {padding-top: 18%;}

a:hover {text-decoration:none;}

h1, h2, h3, h4, h5, h6 {font-family: "ubuntu",sans-serif;}

h1 {
        font-size: 22px;
        color:#666;
        text-transform:uppercase;
}

h2 {
        font-size: 20px;
        color:#666;
        font-weight:bold;
}

h3 {
        font-size: 18px;
        color:#FFF;
        font-weight:light;
}

h4 {
        font-size: 16px;
        color:#888;
        font-weight:bold;
        text-transform:uppercase;
}

h5 {
        font-size: 14px;
        color:#666;
        font-weight:bold;
}

h5 {
        font-size: 12px;
        color:#888;
}

.black {color:#000;}
.white {color:#FFF;}
.center {text-align:center!important;}
.bold {font-weight:bold;}
.em {font-style:italic;}
img {
max-width:100%;
height:auto;
}

/* === Links == */

/* - Nav - */

.navbar{
        border-bottom: 0px solid #FFF;
}
#menu-primary-navigation,
#menu-interior-navigation {
        width: 100%;
}

#navbar-container{
        /*border-top: 2px solid #C69575;
        border-bottom: 2px solid #C69575;*/
}

#navButton>h1{
        color: #FFF!important;
        text-decoration: none;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        font-family: "ubuntu",sans-serif;
        text-align: center!important;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
}

.menu-primary-navigation,
.menu-interior-navigation {
        margin-left: auto;
        margin-right: auto;
}

.navbar-default .navbar-nav>li{
        /*margin-left:7px;
        margin-right:7px;
        border-top: 5px solid #C69575;*/
        border-bottom: 3px solid rgba(198,149,117, .5);
}

.navbar-default .navbar-nav>li>a {
        text-transform:uppercase;
        text-decoration:none;
        color:#FFF;
        font-weight:bold;
        font-size:20px;
        text-align: center;
        padding: 5px!important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
        color:#FFF!important;
        text-decoration:none;
        background:none;
}

.navbar-default .navbar-nav>li>a:hover {
        color:#FFF;        
}

.navbar-toggle{
        border-top: 0px solid #FFF!important;
        border-right: 0px solid #FFF!important;
        border-left: 0px solid #FFF!important;
        border-bottom: 2px solid rgba(198,149,117, .5)!important; 
        border-radius: 0px!important;
        height: 20px!important;
        width: 100%;
        padding: 0px!important;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
}

.nav .navbar-nav{
  margin: 0px 0px!important;
}
.navbar-toggle:hover{
        background: rgba(0, 0, 0, 0)!important; 
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

/* === Navbar ==*/

.navbar-default {
        background-color:#000;
        background-image:url(../img/nav-bg-image.jpg);
        background-position: bottom;
        box-shadow: 0px 15px 10px black;
        position: fixed;
        width: 100%;
}

.navbar-default .navbar-brand {
text-indent: -9999px;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
height: 80%;
}

nav .navbar-collapse {
        margin:0% 30%;
        border-top: 0px solid #FFF!important;
        padding-right: 0px!important;
        padding-left: 0px!important;
}

#topBanner {
width: 100%;
height: 0px;
padding-bottom: 22%;
border-bottom: 2px solid rgba(198,149,117, .5);
background: url("/assets/img/tcws-phone.jpg") no-repeat top center;
position: relative;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

body.home .row {margin-bottom:20%;}

body.home div.content.row {margin-bottom:0px!important;}

.page-header {
        
        border-bottom: none;
}

.page-header h1 {
        color:#FFF;
        line-height:-1.6em;
        font-family: "ubuntu", sans-serif;
        font-weight:bold;
        font-size: 55px;
        margin-bottom: -40px;
        margin-left: 51px;
}

.page-content {
        background: #FFF url(../img/main-tile.jpg) top center scroll repeat;
        color:#666;
        line-height:1.6em;
        font-family: "ubuntu", sans-serif;
        font-weight:normal;
        font-size:18px;
        border: 10px solid #FFF;	
}

.page-content p,
.Work .page-content,
body.work .page-content {padding: 10px 20px;}


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Our Work
   ========================================================================== */

/**** Isotope filtering ****/
#filters li{
	display: inline-block;
	margin-right: 20px;
}

#filters li a {
text-decoration: none;
color: #d3d1c5;
text-transform: uppercase;
font-size: 14px;
background: #6d2f06;
padding: 5px;
}

#filters li a:hover{
	color: #fff;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Thumbnails ****/

#projects .item {
width:100%;
margin-bottom:5px;
}

#projects .width2{
  overflow: hidden!important;
}

#projects .item .desc {
position: absolute;
top: 0px;
width: 100%;
left: 0px;
padding: 10%;
text-align: center;
background: #fff;
height: 100.5%;
display: block;
opacity: 0;
-webkit-transition: 500ms;
-moz-transition: 500ms;
transition: 500ms;
-webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,0.6);
}

#projects .item .featured-image a:hover .desc {
opacity: 0.85;
}




/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
background-color: #000;
margin-top: 7.8%;
opacity: .8;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

input[type=search] { 
        color: #888;  
        text-align: left;
        cursor: pointer;
        display: block; 
        width: 100%; 
        text-shadow: 0 0 1px #000; 
        padding:5px;
        background:#222;
        border: 1px solid rgb(46, 46, 46);
}

.btn-default {
        cursor: pointer;
        text-decoration:none;
        border: 1px solid rgb(46, 46, 46);
        color:rgb(221, 221, 221);
        font-size:14px;
        font-family:arial, serif;
        text-shadow: 0px 0px 1px rgb(17, 17, 17);
        border-radius:1px 6px 6px 1px;
        -moz-border-radius:1px 6px 6px 1px;
        -webkit-border-radius:1px 6px 6px 1px;
        box-shadow:0px 0px 0px rgb(0, 0, 0);
        -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
        -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        background-image:linear-gradient(-90deg, rgb(136, 136, 136), rgb(85, 85, 85));
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(136, 136, 136)), to(rgb(85, 85, 85)));
        background-image:-moz-linear-gradient(-90deg, rgb(136, 136, 136), rgb(85, 85, 85));
} 

.btn-default:hover {
        cursor: pointer;
        text-decoration:none;
        border: 1px solid rgb(46, 46, 46);
        color:rgb(255, 255, 255);
        font-family:arial, serif;
        text-shadow: 0px 0px 1px rgb(17, 17, 17);
        font-size: 14px;
        border-radius:1px 6px 6px 1px;
        -moz-border-radius:1px 6px 6px 1px;
        -webkit-border-radius:1px 6px 6px 1px;
        box-shadow:0px 0px 0px rgb(0, 0, 0);
        -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
        -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        background-image:linear-gradient(-90deg, rgb(153, 153, 153), rgb(68, 68, 68));
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(153, 153, 153)), to(rgb(68, 68, 68)));
        background-image:-moz-linear-gradient(-90deg, rgb(153, 153, 153), rgb(68, 68, 68));
}

.btn-default:active{
        cursor: pointer;
        text-decoration:none;
        border: 1px solid rgb(46, 46, 46);
        color:rgb(221, 221, 221);
        font-family:arial, serif;
        text-shadow: 0px 0px 1px rgb(17, 17, 17);
        font-size: 14px;
        border-radius:1px 6px 6px 1px;
        -moz-border-radius:1px 6px 6px 1px;
        -webkit-border-radius:1px 6px 6px 1px;
        box-shadow:0px 0px 0px rgb(0, 0, 0);
        -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
        -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        background-image:linear-gradient(-90deg, rgb(136, 136, 136), rgb(85, 85, 85));
        background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(136, 136, 136)), to(rgb(85, 85, 85)));
        background-image:-moz-linear-gradient(-90deg, rgb(136, 136, 136), rgb(85, 85, 85));
}


/* ==========================================================================
   Clients
   ========================================================================== */

body.single-clients article header {display:none;}

body.single-clients .client-video {margin-bottom:60px;}

body.single-clients .main .download {
color: #fff;
width: 80%;
display: block;
margin: 30px auto;
}

body.single-clients .main .download a {color:#fff;}

body.single-clients .main .download a:hover {text-decoration: none;}

body.single-clients .sidebar {display:none;}

body.single-clients em {
font-size: 13px;
line-height: 13px;
margin-bottom: 30px;
display: block;
color: #999;	
}

body.single-clients h2 {
font-size: 40px;
}

body.single-clients .wp-video {margin-bottom: 30px;}

body.single-clients .video-description {
font-size: 15px;
line-height: 20px;
padding: 0px;	
}

body.single-clients article footer {display:none;}

.post-password-required {
text-align: center;
background: #FFF url(../img/main-tile.jpg) top center scroll repeat;
color: #666;
line-height: 1.6em;
font-family: "ubuntu", sans-serif;
font-weight: normal;
font-size: 18px;
border: 10px solid #FFF;
margin: 30px;
padding: 10% 30px 40% 30px;
}

.mejs-container {
  width: 100% !important;
  height: auto !important;
  padding-top: 57%;
}
.mejs-overlay, .mejs-poster {
  width: 100% !important;
  height: 100% !important;
}
.mejs-mediaelement video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.mejs-controls div.mejs-time-rail {
direction: ltr;
padding-top: 5px;
width: 74%!important;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

footer {
   position:relative;
   bottom:0;
   width:100%;
   background:#000;
   opacity: 0.8;
   color:#666;
   max-width:100%!important;
   padding:10px;
   text-align:left;
}

footer a {
        color: #797979;
        text-shadow: 0px 0px 1px rgb(56, 56, 56);
        font-family: "ubuntu",sans-serif;
        font-weight:bold;
        text-decoration:none;
}

footer a:hover {
        color: #797979;
        text-shadow: 0px 0px 1px rgb(56, 56, 56);
        font-family: "ubuntu",sans-serif;
        font-weight:bold;
        text-decoration:none;
}

footer .row {
max-width: 1170px;
margin: 0px auto;
margin-bottom:0px!important;
}

body.spotlight footer,
body.about footer,
body.contact footer {
position:fixed;
bottom:0;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
@media (max-width: 767px) {
#topBanner {background-size: cover;}	

.page-header h1 {
color: #FFF;
font-family: "ubuntu", sans-serif;
font-weight: bold;
font-size: 35px;
margin-bottom: -40px;
width: 100%;
display: block;
text-align: center;
margin-left:0px;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

.wrap {
padding: 10% 30px 0px 30px;
max-width: 1170px;
margin: 0px auto;
}

body.single .wrap {
padding: 10% 30px 0px 30px;
max-width: 1070px;
margin: 0px auto;
}

.navbar-default .navbar-nav>li{
border-bottom: 0px solid #FFF;
/*margin-top: 8px;*/
width: 25%;
float: left;
}

#topBanner {
border-bottom: 3px solid rgba(198,149,117, .5);
background: url("/assets/img/top-nav-logo.png") top center no-repeat;
height: 0px;
padding-bottom: 8%;
background-size: 90%;
}

#projects .item {
position: absolute;
top: 0px;
left: 0px;
-webkit-transform: none;
opacity:0;
}

#projects .item {width:49.7%;}

#projects .width2 {width: 100%; overflow: hidden;}

#projects .width3 {width: 100%;}

footer {
/* position:fixed; */
bottom:0;	
}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.navbar-header{
        height: 15px;
        }

.navbar-default{
        border-bottom: 3px solid rgba(198,149,117, .5);

}

#projects .item {width:24.7%;}

#projects .width2 {width: 49.7%; /*max-height:202px; overflow: hidden;*/}

#projects .width3 {width: 49.7%;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 




}
